<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900&display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/site.css">
    <title>Stuart Small</title>
</head>

<body id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand" href="/">
        <span class="d-block d-lg-none">Stuart Small</span>
        <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/headshot.jpg" alt="">
    </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <!--
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resume">Resume</a>
            </li>
            -->
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/stusmall/">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/thestusmall">
                <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://github.com/stusmall/">
                <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    {% block content %}
    <section class="p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">

        </div>
    </section>
    {% endblock content %}


</div>


<script src="/jquery-3.5.1.min.js"></script>
<script async src="/bootstrap.bundle.min.js"></script>
<script async src="/site.js"></script>
</body>
</html>