{% set headshot = resize_image(path="/static/headshot.jpg", width=400, height=400, op="fit_height", format="webp", quality=70) %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/site.css">
    <title>Stuart Small</title>
</head>

<body id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand" href="/">
        <span class="d-block d-lg-none">Stuart Small</span>
        <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ headshot.url }}" loading="lazy" alt="Headshot">
    </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recipes">Recipes</a>
            </li>

<!--            <li class="nav-item">
                <a class="nav-link" href="/resume.pdf">Resume</a>
            </li> -->
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/stusmall/">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://github.com/stusmall/">
                <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    {% block content %}
    <section class="p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">

        </div>
    </section>
    {% endblock content %}


</div>


<script async src="/bootstrap.min.js"></script>
</body>
</html>
