{% set filename =  page.components | slice(start=1, end=2) | join() %}
{% set filepath = "recipes/" ~ filename ~ ".webp" %}
{% set image_metadata = get_image_metadata(path=filepath, allow_missing=true) %}
<div class='container'>
  <section class="post">
    <div class="row">
      <h1> {{ page.title | safe }} </h1>
    </div>
    <div class="row" >
      {% if page.description %}
      <div class="col-md-8">
        <p> {{ page.description | safe }} </p>
      </div>
      {% endif %}
      {% if image_metadata %}
      {% set image = resize_image(path=filepath, height=200, op="fit_height", format="webp") %}
      <div class="col-md-4">
        <img src="{{ image.url }}" class="rounded" />
      </div>
      {% endif %}
    </div>
    <div class="row">
      <article>
      {{ page.content | safe }}
      </article>
    </div>
  </section>
</div>
